@import "vars"
@media only screen and (min-width : 1800px)
  .list-shop-btn
    display: block
@media screen and (max-width: 1370px)
  .padding-container
    padding-left: 20px
    padding-right: 20px
  .bottom-header-item:first-of-type
    width: 30%
  .bottom-header-item:last-of-type
    width: 62%
@media screen and (max-width: 1300px)
  .bottom-header-item:last-of-type
    width: 64%
@media screen and (max-width: 1255px)
  .bottom-header-item:last-of-type
    width: 69%
//For slider
@media screen and (max-width: 1370px)
  .thumb-main-slider-item:not(:last-of-type)
    margin-right: 2%
  .main-about-us-item:first-of-type
    width: 40%
@media screen and (max-width: 1228px)
  .main-about-us-item:first-of-type
    width: 45%
/*==========  Desktop First  ==========*/
@media only screen and (max-width: 1161px)
   .bottom-header-item:last-of-type
    margin-right: 80px
@media (min-width: 981px)
  .mobile-main-banners
    position: absolute
    display: block
    right: -287px
    top: 0
    height: 602px
    .mobile-main-banners-title,.more
      display: block
      width: 100%
    .mobile-main-banners-title
      font-size: 16px
      width: 50%
      line-height: 24px
    .more
      font-size: 12px
  .mobile-main-banners-item a
    flex-wrap: wrap
    padding-left: 30px
    flex-direction: column
    justify-content: space-between
    height: calc(442px/3)
    padding-right: 30px
  .mobile-main-banners.active
    right: 0
@media screen and (min-width: 1181px)
  .product
    .popular-items-container .main-our-categories-list-item
      margin-bottom: 40px
  .metro-list
    .main-our-categories-list-item:nth-child(5),.main-our-categories-list-item:nth-child(6),.main-our-categories-list-item:nth-child(7),.main-our-categories-list-item:nth-child(8)
      margin-bottom: 65px
  .main
    .more-info-item:nth-of-type(2)
      .more
        display: none
  .md-lead-button
    display: none
@media screen and (max-width: 1180px)
  .more-info-price:after
    margin: 10px 0 20px
  .footer-info
    margin: 40px 0
  .description .description-text
    width: 90%
  .breadcrumbs
    flex-wrap: wrap
  .main-about-us-item .more
    margin-top: 40px
  .main-about-us-item .main-about-us-text
    width: 100%
  .main-about-us-dec-title
    left: -270px
  .search-container
    left: 20%
  .container
    max-width: 995px
  .contacts-item:first-of-type
    display: none
  .top-header-menu-container
    width: 40%
  .bottom-header-lead-toggle
    max-width: 170px
    padding: 0 20px
  .search-button
    margin-left: 20px
  .bottom-header-advantages-item
    margin-right: 13px
  .col-advantages
    margin-left: 8px
  .bottom-header-cat-container
    margin-left: 5px
  .bottom-header-item:last-of-type
    width: 83%
  .contacts-header
    width: 55%
  .main-our-categories-list-item
    width: calc(100%/3.1)
  .more-info-item:nth-of-type(2),.more-info-item:nth-of-type(3)
    width: 55%
  .more-info-item:nth-of-type(1)
    width: 20%
  .main
    .more-info-item:nth-of-type(2)
      .more
        display: block
    .more-info-item:nth-of-type(1)
      .more
        display: none
  .catalog-tab li.catalog-tab-item
    &>a
     font-size: 14px
  .catalog-tab-submenu li.catalog-tab-submenu-item a
    font-size: 13px
  .catalog-docs-item:last-of-type
    width: 60%
  .catalog-item
    margin-bottom: 20px
    width: 49%
    height: 304px
  .catalog-item:nth-of-type(odd)
    margin-right: 2%
  .catalogs .catalog-info-text,.catalog-info
    width: 100%
  .catalog-info .padding-container
    padding: inherit
  .page
    .popular-items-container:not(.metro-items-container) .main-our-categories-list-item:last-of-type
      display: none
  .more-info-product .more-info-item:nth-of-type(2)
    padding-left: 0
  .product-container-item
    .lead-button-container
      display: none
  .md-lead-button
    display: flex
  .lead-button-item
    height: 58px
    justify-content: flex-start
    padding-left: 23px
  .main-advantages-text
    width: 80%
@media screen and (max-width: 1132px)
  .main-about-us-dec-title
    display: none
@media screen and (max-width: 992px)
   .docs-list .owl-nav
    width: 100%
    left: 0
   .last-product-container
     .main-our-categories-list
       li.main-our-categories-list-item
         margin-bottom: 90px
   .lead-button-item
     width: calc(100%/3.5)
   .mobile-header,.mobile-sales-btn,.mobile-main-banners.active,.mobile-main-our-categories
     display: block
   .top-head,.bottom-header,.banner-sales-btn,.btn.btn-more,.main-banner-list,.main-about-us-item:first-of-type,.our-categories,.more-info-empty
     display: none
   .main-about-us,.main-our-categories,.more-info
     margin-top: 50px
   .main-banner
     height: auto
     padding-top: 28px
     padding-bottom: 30px
   .mobile-sales-btn
     font-size: 12px
   .main-banner-top
     margin-top: 0
   .title,.subtitle,.main-our-categories-text
     text-align: center
   .title
     font-size: 24px
   .subtitle
     font-size: 12px
   .main-advantages-list
     flex-wrap: wrap
   .main-advantages-item
     width: 141px
     margin-bottom: 25px
   .main-about-us-item:last-of-type
     width: 100%
     height: auto
     padding: 0 12px
     .more
       text-align: center
       margin-top: 30px
   .main-our-categories-list
     margin-top: 20px
   .more-info-container
     flex-wrap: wrap
   .more.mobile-catalog-more
     display: block
     width: 100%
     height: 50px
     margin-top: 0
     border-radius: 3px
     border: 1px solid #ffffff
     background-color: #252525
     font-weight: bold
     text-align: center
     line-height: 50px
     color: $white
   div.more-info-item
     width: 100% !important
     margin-bottom: 30px
   .more-info-colors-info
    justify-content: flex-start
   .more-info-item:nth-of-type(2)
     order: 1
   .more-info-item:nth-of-type(3)
     order: 2
   .more-info-item:first-of-type
     order: 3
   .more-info
     margin-bottom: 10px
   .page
     .main-banner
       display: none
     .main-about-us
       .flex-container
         flex-wrap: wrap
     .main-about-us-item:first-of-type
       display: block
       margin-right: 0
       width: 100%
       height: 204px
       &>ymaps
         width: 100% !important
         height: 100% !important
     .main-about-us-item:last-of-type
       order: -1
       margin-bottom: 30px
   .breadcrumbs
     flex-wrap: wrap
   .metro-about-us
     .main-about-us-text:last-of-type
       text-align: center
       margin-top: 30px
       a
         display: block
   .metro-list
     li.main-our-categories-list-item
       margin-bottom: 120px
       a
         justify-content: flex-end
         padding: 0
     .metro-title-street
       display: none
     .mobile-title-street
       display: block
       font-size: 12px
       color: #000
   .metro-adress-container
     padding-left: 0
     padding-right: 0
     font-size: 12px
   .metro:before
     margin-right: 2px
   .metro-items-container
     margin-bottom: 50px
   .catalog-docs-container
     .flex-container
       flex-wrap: wrap
     .catalog-docs-item,.title
       margin-right: 0
       width: 100%
       .title
         margin-bottom: 25px
@media screen and (max-width: 885px)
  .lead-button-item
    width: 100%
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  /**/
/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
  .catalog-info .padding-container
    padding: 0 12px
  .catalog-tab
    width: auto
    max-height: initial
    border-radius: 3px
    border: 1px solid #bfbfbf
    padding: 15px
    margin-right: 0
    position: relative
    display: block
  .catalog-tab .catalog-tab-item,.catalog-tab-submenu
    margin-right: 0
    display: none
  .catalog-tab-submenu
    width: 100%
  .catalog-tab-submenu-item
    margin-right: 0
    margin-left: 0
  .catalog-tab-submenu .catalog-tab-submenu-item>a
    font-weight: 400 !important
    font-size: 12px !important
  .catalog-tab .catalog-tab-item.active
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    &>a
      border-bottom: 0
  .catalog-tab-item-button
    display: block
  .more-info-catalog
    .more
      display: none
    .more.mobile-catalog-more
      margin-top: 40px
  .more.mobile-catalog-more
    display: block
  .catalog-filter
    flex-wrap: wrap
  .mobile-catalog-filter-item
    display: block
  .catalog-filter-item
    width: 100%
    margin-right: 0
  .catalog-filter-item:not(.mobile-catalog-filter-item)
    display: none
  .product-container-item
    width: 100% !important
    margin-right: 0
  .product-main-slider
    width: 100%
  .product-container
    .breadcrumbs
      display: none
    .flex-container
      flex-wrap: wrap
  .mobile-breadcrumbs
    display: flex
  .lead-button-container
    justify-content: center
  .product-container
    margin-top: 30px
  .price-container
    justify-content: center
  .more-info-price,.description
    text-align: center
    display: block
  .more-info-price:after
    margin: 12px auto
  .description
    .description-text
      width: 99%
      line-height: 26px
      font-size: 14px
  .lead-button-container
    margin-top: 22px
  .lead-button-text
    width: auto
  .more-info-product .more-info-item:nth-of-type(2)
    padding-left: 0
  .product-container
    margin-bottom: 30px
  .more-info-product
    margin-top: 30px
  .more-info-title
    text-align: center
    padding-top: 4px
    margin-bottom: 23px
  .more-info-item:nth-of-type(2)
    .more-info-title
      width: 100%
  .more-info-subtitle,.more-info-text
    margin-bottom: 17px
  .param-item
    font-size: 11px
  .more-info-item
    margin-bottom: 11px
  .main-about-us, .main-our-categories, .more-info
    margin-top: 0
  .main-our-categories-text
    font-size: 13px
    margin-top: 17px
  #footer
    padding-top: 30px
    padding-bottom: 30px
    text-align: center
    font-size: 12px
    .flex-container
      flex-wrap: wrap
    .footer-item
      width: 100% !important
  .footer-logo,.footer-item:nth-of-type(2),.footer-item:nth-of-type(3),.footer-item .contacts
    display: none
  .footer-info.mobile-footer-tel
    display: block
    a
      display: block
  .copyright
    margin-top: 0
  .footer-info
    margin: 20px auto 0 auto
  .footer-item:last-of-type
    display: flex
    flex-direction: column
  .politic-more
    order: -3
    margin-top: 20px
/* Small Devices, Tablets */
@media only screen and (max-width : 800px)
  .mobile-main-our-categories
    .main-our-categories-list-item
      width: 231px
      height: 228px
      a
        padding: 30px
      .categories-list-subtitle
        font-size: 11px
      .categories-list-title
        font-size: 14px
  .popular-items-container .main-our-categories-list-item
    margin-bottom: 70px
  .main-our-categories-list
    justify-content: space-between
    margin-top: 12px
    .main-our-categories-title
      a
        font-size: 11px
        line-height: 18px
        color: #222
    .main-our-categories-list-item
      width: calc(100%/2.1)
      height: 171px
    .main-our-categories-list-item:nth-of-type(odd)
      margin-right: 11px
    .main-our-categories-list-item:nth-of-type(even)
      margin-right: 0
  .catalog
    flex-wrap: wrap
    .catalog-item
      margin-right: 0
      width: 100%
      height: 198px
  .breadcrumbs
    flex-wrap: wrap
  .pagination-item
    margin-bottom: 10px
  .thumb-main-slider
    display: none
  .product-main-slider
    .slick-dots
      text-align: center
      margin-top: 15px
      @include list-type-none
      li[role="presentation"]
        display: inline-block
        margin-right: 10px
        width: 10px
        height: 10px
        border-radius: 50%
        background-color: #d1d1d1
      li[role="presentation"].slick-active
        background-color: #383838
  .product-main-slider-item
    margin: 0 20px
    height: 228px
  body .padding-container
    padding-left: 12px
    padding-right: 12px
  .page
    #main
      margin-top: 45px
  .breadcrumbs
    display: flex
    justify-content: center
  .breadcrumbs-item a
    font-size: 12px
  .title
    font-size: 22px
    line-height: 27px
  .price-container
    margin-top: 30px
    .fullprice
      font-size: 22px
      margin-right: 30px
    .saleprice
      font-size: 19px
  .main-banner-top
    .title
      font-size: 25px
    .subtitle
      font-size: 12px
    .mobile-sales-btn
      width: 115px
      height: 35px
      line-height: 35px
  .main
    .main-banner-top
      margin-bottom: 0
      .title
        margin-top: 0
    .main-banner
      padding-top: 25px
      padding-bottom: 25px
    .mobile-main-banners
      margin-top: 20px
      .mobile-main-banners-item a
        padding-left: 10px
        padding-right: 10px
    .main-about-us-item
      .subtitle
        margin-top: 10px
        font-size: 14px
      .title
        margin-top: 0
        line-height: 38px
        font-size: 24px
      .main-about-us-text
        width: 100%
        text-align: center
        margin-top: 7px
    .mobile-main-our-categories
      .owl-stage-outer
        height: 238px
      .more
        margin-top: 18px
    .main-our-categories.popular-items-container
      margin-top: 44px
    .main-our-categories
      margin-top: 0
    .more-info-text
      width: 100%
    .more-info-item:not(:last-of-type)
      margin-bottom: 23px
    .main-our-categories,.more-info
      .more
        display: block
        width: 100%
        height: 50px
        margin-top: 30px
        border-radius: 3px
        border: 1px solid #fff
        background-color: #252525
        font-weight: 700
        text-align: center
        line-height: 50px
        color: #fff
    .more-info
      margin-top: 38px
      .more
        margin-top: 1px
      .more-info-title
        font-size: 24px
  .main-advantages-item
    width: calc(100%/2)
  .main-advantages-title
    font-size: 12px
    margin-bottom: 0
  .main-advantages-text
    font-size: 11px
    line-height: 21px
  .main #main
    margin-bottom: 17px
  .copyright
    line-height: 17px
  #footer
    .footer-item
      margin-right: 0
    .politic-more
      margin-top: 15px
      font-weight: bold
    .footer-info
      margin-top: 6px
    .mobile-footer-tel
      line-height: 21px
      font-size: 13px
    .footer-info:last-of-type
      font-size: 11px
      width: 80%
      line-height: 16px
      text-align: center
  .catalogs
    .catalog-info
      width: 100%
      margin-top: 0
      margin-bottom: 50px
      .catalog-info-title
        margin-top: 3px
        line-height: 37px
      .catalog-info-text
        width: 100%
    .tab
      .catalog-filter-container
        margin-top: 6px
    .pagination
      flex-wrap: wrap
    .catalog-filter-bottom
      display: none
    .catalog-filter-bottom.active
      display: flex
    .catalog-filter-name,.catalog-tab-item.active a
      padding-left: 10px
      font-size: 13px
      font-weight: bold
    .catalog .catalog-item
      height: 218px
    .pagination
      margin-top: 0
  .main-about-us-item .main-about-us-text
    width: 100%
  .page .main-about-us
    margin-top: 0
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .catalog-filter-bottom-item:not(:last-of-type)
    margin-right: 5px
  .catalog-info-title
    font-size: 24px
/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
  .main-our-categories-list,.main-advantages-list
    justify-content: center
  .main-our-categories-list .main-our-categories-list-item:nth-of-type(odd)
    margin-right: 0
  .main-our-categories-list .main-our-categories-list-item
    width: 100%

/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
  /**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
  /**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
  /**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
  /**/
